body { 
     background: url(https://s19.postimg.org/vm6l2qpf7/a_sheet_of_paper_on_the_wood_208622.jpg) no-repeat center; 
     -webkit-background-size: cover;
     -moz-background-size: cover;
     -o-background-size: cover;
     background-size: 100% 100%;
     width: 100vw;
     height: 100vh;
     box-sizing: border-box;
     border: #f36d32 3px solid;
     padding: 0;
     margin: 0;
 }

div.title {
    font-family: 'Metamorphous', cursive;
    font-size: xx-large;
    text-align: center;
    margin:30px;
}

div.canvas {
    position:relative;
    left:150px;
    height: 75%;
    width: 78%;
}

img.title {
    height: 30%;
    width: 30%;
    display: inline-block;
    margin-left: 35%;
}
img.portrait {
    display:inline;
    height: 35%;
    width: 35%;
    opacity: 0.9;
    float: left;
}

blockquote{
  display: block;

  
  /*Font*/
  font-family: 'Lobster Two', cursive;
  font-size: 20px;
  line-height: 1.2;
  color: #666;
  text-align: right;
  
  padding-top: 10px;
  padding-right: 30px;
  padding-bottom: 30px;
  padding-left: 100px;
}

cite{
    padding-left:500px;
    padding-top:0px;
    font-family: 'Great Vibes', cursive;
    font-size:30px;
    text-align:right;
}

/* The button-maker */
/* How to include it */
.btn-right {
  background: none;
  border: 0;
  font-size: 22px;
  line-height: 2em;
  position: relative;
  width: 6em;
  height: 2em;
}
.btn-right a {
  color: #fff;
  text-decoration: none;
  position: relative;
  z-index: 10;
}
.btn-right::before, .btn-right::after {
  background: #29c0d5;
  border-radius: 2px;
  content: '';
  display: block;
  position: absolute;
  left: 0;
  right: 0;
  -webkit-transition: all 1s;
  transition: all 1s;
  height: 1em;
}
.btn-right::before {
  box-shadow: -1px 1px 0 #1897c0, -2px 2px 0 #1897c0, -3px 3px 0 #1897c0, -4px 4px 0 #1897c0;
  -webkit-transform: skew(45deg);
          transform: skew(45deg);
  top: 0;
}
.btn-right::after {
  box-shadow: 1px 1px 0 #1897c0, 2px 2px 0 #1897c0, 3px 3px 0 #1897c0, 4px 4px 0 #1897c0;
  -webkit-transform: skew(-45deg);
          transform: skew(-45deg);
  bottom: 0;
}
.btn-right:hover::before, .btn-right:hover::after {
  background: #68d3e2;
}
.btn-right:focus {
  outline: 0;
}
.btn-right:focus::before, .btn-right:focus::after {
  background: #68d3e2;
}

.btn-left {
  background: none;
  border: 0;
  font-size: 22px;
  line-height: 2em;
  position: relative;
  width: 6em;
  height: 2em;
}
.btn-left a {
  color: #fff;
  text-decoration: none;
  position: relative;
  z-index: 10;
}
.btn-left::before, .btn-left::after {
  background: #e4135d;
  border-radius: 2px;
  content: '';
  display: block;
  position: absolute;
  left: 0;
  right: 0;
  -webkit-transition: all 1s;
  transition: all 1s;
  height: 1em;
}
.btn-left::before {
  box-shadow: -1px 1px 0 #c81163, -2px 2px 0 #c81163, -3px 3px 0 #c81163, -4px 4px 0 #c81163;
  -webkit-transform: skew(45deg);
          transform: skew(45deg);
  bottom: 0;
  z-index: 1;
}
.btn-left::after {
  box-shadow: 1px 1px 0 #c81163, 2px 2px 0 #c81163, 3px 3px 0 #c81163, 4px 4px 0 #c81163;
  -webkit-transform: skew(-45deg);
          transform: skew(-45deg);
  top: 0;
}
.btn-left:hover::before, .btn-left:hover::after {
  background: #f1538b;
}
.btn-left:focus {
  outline: 0;
}
.btn-left:focus::before, .btn-left:focus::after {
  background: #f1538b;
}
